<div class="form-container">
    <div class="title-container">
        <h2>Add Experience</h2>
        <div class="cross-container">
        <i class="bi bi-x"></i>
        </div>
    </div>

    <div class="form-content">
        <div class="job-title-container mb-3">
            <label for="job-title" class="form-label">Job title</label>
            <input type="text" id="job-title" class="form-control" >
        </div>
        <div class="company-container mb-3">
            <label for="company-name" class="form-label">Name of the Company</label>
            <input  type="text" id="company-name" class="form-control" >
        </div>
        <div class="country-container mb-3">
            <label for="country-name" class="form-label">Country</label>
            <input  type="text" id="country-name" class="form-control" >
        </div>
         <div class="from-date-container mb-3">
            <label for="month-date" class="form-label">From</label>
            <div class="date-container">
                <div class="month-container">
                    <input  type="text" id="month-date" class="form-control" >
                </div>
                <div class="year-container">
                    <input  type="text" id="year-date" class="form-control" >
                </div>
            </div>
        </div>
         <div class="to-date-container mb-3">
            <label for="to-date" class="form-label">To</label>
            <div class="date-container">
                <div class="month-container">
                    <input  type="text" id="to-date" class="form-control" >
                </div>
                <div class="year-container">
                    <input  type="text" id="to-date" class="form-control" >
                </div>
            </div>
        </div>
        <div class="description-container">
            
        </div>

    </div>
</div>