<div class="form-container">
 <form [formGroup]="form">
    <div class="form-content">
            <div class="student-id-container mb-3">
                <div>
                    <label for="student-id" class="form-label">Murdoch Student ID*</label>
                     <input type="text" id="student-id" formControlName="studentId" class="form-control" [class.is-invalid]="form.get('studentId')?.invalid && form.get('studentId')?.touched" >
                     <div *ngIf="form.get('studentId')?.invalid && form.get('studentId')?.touched && form.get('studentId').errors.required" class="invalid-feedback">
                        This field is required.
                      </div>
                        <div *ngIf="  form.get('studentId')?.touched && form.get('studentId')?.invalid  &&  form.get('studentId').errors.pattern" class="invalid-feedback">
                            Student ID must be a number.
                        </div>
                    </div>
                    <div></div>
                </div>

        <h2 class="fw-bold title-work-experience mb-3">Work Experiences</h2>
       
                    <ng-container *ngFor="let control of formArray.controls; let i = index">
                        <div class="mb-3">
                            <app-work-experience [expForm]="control" [indexForm]="i" (onDelete)="onDeleteForm($event)"></app-work-experience>
                        </div>
                        <div class="devicer"></div>
                    </ng-container>

                        <div class="form-submission-btn-container mt-5">
                                <button type="button" (click)="onAddFormGroup()" class="btn btn-secondary mr-3">
                                        Add Experiences<i class="bi bi-plus"></i>
                                </button>
                                <button type="submit" class="btn btn-primary" (click)="onSubmitFormGroup()" >
                                    Next <i class="bi bi-arrow-right"></i>
                                </button>
                            </div>
    </div>
        </form>

</div>

