
<div class="thank-you-page">  

  <h1>SUBMITTED! THANK YOU FOR YOUR APPLICATION</h1>
  <p>Your application will be access by the Murdoch Advance Standing team.</p>
   <p>
    Application submitted on <strong>{{showDate()}}</strong>. </p>
  <p>
    Your Application Id is <strong>{{applicationId}}</strong>. 
    You can track your Application progress by clicking <a href="http://localhost:4200/tracker">Track Application Progress</a> or emailing <a href="mailto:support@example.com">Advance standing team</a> . If you have any questions, please feel free to <a href="mailto:support@example.com">contact us</a>.
  </p>
  <p>Warm Regards,<br/> Murdoch University</p>
  <a href="https://www.murdoch.edu.au/" class="btn">Return to Home</a>
</div>
