<div class="row">
<div class="col-6 m-5">
    <h2>Frontend Developer at Google - Nepal</h2>
    <p><strong>Sep 2005 - Jan 2015 </strong></p>
    <p class="content" [innerHTML]="content"></p>
    <h4><strong>Unit Applied</strong></h4>
    <div class="courses_applied">
        <table class="table table-responsive table-borderless">
                            <thead>
                                <tr class="bg-light">
                                    <th scope="col" width="10%">Unit code</th>
                                    <th scope="col" width="20%">Unit name</th>
                                    <th scope="col" width="10%">Action</th>
                                </tr>
                            </thead>
                        <tbody>
                            <tr>
                                <td>Ict 605</td>
                                <td>Interactive data visualization</td>
                                <td>
                                    <button class="btn btn-primary btn-sm mr-2">Approve</button>
                                    <button class="btn btn-danger btn-sm">Reject</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Ict 605</td>
                                <td>Interactive data visualization</td>
                                <td>
                                    <button class="btn btn-primary btn-sm mr-2">Approve</button>
                                    <button class="btn btn-danger btn-sm">Reject</button>
                                </td>
                            </tr>
                  </tbody>
          </table>
    </div>
    <div class="documents">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                <div class="card-body">
                    <h4 class="card-title">ManishCV.docx</h4>
                    <p class="card-text">You can download a copy to your local computer.</p>
                    <a href="#" class="btn btn-danger"><i class="bi bi-download"></i></a>
                </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                <div class="card-body">
                    <h4 class="card-title">ManishCover.pdf</h4>
                    <p class="card-text">You can download a copy to your local computer.</p>
                    <a href="#" class="btn btn-danger"><i class="bi bi-download"></i></a>
                </div>
                </div>
            </div>
</div>
    </div>
</div>
</div>
