<div>
    <div class="m-2">
        <h3><strong>You can track your advance standing application by your application id.</strong> </h3>
        <p>Forgot your <strong>Application Id? </strong>  <a href="">Check application id here</a></p> 
    </div>
    <div class="tracker-id-container  m-3">
        <div class="job-title-container mb-3">
                            <label for="job-title" class="form-label">Application Id*</label>
                            <input type="text" id="job-title"  class="form-control" placeholder="3514..">
                        
        </div>
        <div>
            <button class="btn btn-murdoch">Check progress</button>
        </div>

    </div>


        <div class="wrapper m-3">
        <div class="margin-area">
            <div class="dot one">1</div>
            <div class="dot two">2</div>
            <div class="dot three">3</div>
            <div class="dot four">4</div>
            <div class="progress-bar first"></div>
            <div class="progress-bar second"></div>
            <div class="progress-bar third"></div>
            <div class="message message-1">
                Sent (In progress)
            <div>
            <div class="message message-2">Viewed<div>
            <div class="message message-3">Reviewing<div>
            <div class="message message-4">Approved/ Rejected<div>
            
        </div>
            <div class="status">Your applications are viewed and reviewed by the <a href="#">Advance Standing Team </a></div>
            <div class="status code">You can also email <a href="#"> Advance standing team</a> with your application id : <a href="#">345032</a>
        </div>
</div>