<div class="nav-container">
    <div class="image-container">
        <div class="image">
            <img src="https://myanswers.custhelp.com/euf/assets/images/murdoch-logo-hoz-white.svg" alt="No Image">
        </div>
        <!-- <div class="check-progress">
            Check your progress
        </div> -->
        <div class="avatar">
            <div class="mr-3 fw-bold">Manish Shakya</div>
            <div class="avatar">
                <div class="dropdown">
                    <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="avatar-image mr-3 dropdown-toggle" 
                    alt="Avatar" type="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" />
                    <ul class="dropdown-menu" aria-labelledby="d
                    ropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="topic-container">
        <h1 class="topic-title">Advance standing Enquiry</h1>
    </div>
</div>