.nav-container {
    .image{
        width: 150px;
        margin: 0 2rem;
    }
    .image-container {
        background-color: #000000;
        max-width: 100%;
    }

    .topic-container {
        background-color: #CC0000;
        color: #ffffff;
        .topic-title {
            padding: 5rem;
            font-weight: bold;
        }
    }
    
}