.container {
      padding-bottom: 2rem;
        .title-container {
            background-color: #AD202E;
            color: #fff;
            margin-top: 3rem;
            .title {
                padding: 10px;
            }
        }
}