<div class="main-container">
  <div class="app-container">
    <app-murdoch-navbar [isAdmin]="isAdmin"></app-murdoch-navbar>
    <div class="admin-container" *ngIf="isAdmin">
      <router-outlet></router-outlet>
    </div>
    <div class="container"  *ngIf="!isAdmin">
        <div class="title-container">
            <h4 class="title">Advance standing for Informal Learning</h4>
        </div>
      <router-outlet></router-outlet>
    </div>
    <app-murdoch-footer></app-murdoch-footer>
  </div>
</div>
<div>
  
</div>